################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/EmptyApp/EmptyApp/obj/Debug/netcoreapp2.0
/Sample/EmptyApp/.vs/EmptyApp/v15
/Sample/EmptyApp/EmptyApp/obj
/Sample/WebAPIApp/.vs
/Sample/WebAPIApp/WebAPIApp/obj
/Sample/WebAPIApp/WebAPIApp/bin/Debug/netcoreapp2.0
/Sample/MvcApp/MvcApp/bin/Debug/netcoreapp2.0
/Sample/MvcApp/.vs
/Sample/MvcApp/MvcApp/obj
/Sample/WebAPIApp/WebAPIApp/Logs
/lms/LmsApp/.vs/LmsApp/v15
/lms/LmsApp/LmsApp.Server/bin/Debug/netcoreapp2.0
/lms/LmsApp/LmsApp.Server/obj
/lms/LmsApp/Model/bin/Debug/netcoreapp2.0
/lms/LmsApp/Model/obj

/lms/LmsApp/ViewModel/obj/Debug/netcoreapp2.0
/lms/LmsApp/ViewModel/obj
/lms/LmsApp/RequestModel/obj
/lms/LmsApp/Repository/obj
/lms/LmsApp/Service/obj
/lms/LmsApp/Common/obj
/lms/LmsApp/ViewModel/bin/Debug/netcoreapp2.0
/lms/LmsApp/Service/bin/Debug/netcoreapp2.0
/lms/LmsApp/RequestModel/bin/Debug/netcoreapp2.0
/lms/LmsApp/Repository/bin/Debug/netcoreapp2.0
/lms/LmsApp/Common/bin/Debug/netcoreapp2.0
/lms/LmsApp/.vs/config
