################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/EmptyApp/EmptyApp/obj/Debug/netcoreapp2.0
/Sample/EmptyApp/.vs/EmptyApp/v15
/Sample/EmptyApp/EmptyApp/obj
